:root {
  font-family: sans-serif;
  color:white;
  height:100%;
}

#root{
    display:grid;
    grid-template-columns: 20em 1fr;
    gap: 0.3em;
    height:100%;
}

body {
    margin: 0;
    padding: 0.3em;
    min-width: 320px;
    height: calc(100vh - 0.6em);
    background-color: #1a1a1a;
}
